<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>BrickDot uses speech recognition for voice entry of tasks.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>BrickDot uses the microphone for voice entry of tasks.</string>
</dict>
</plist>
